@using TodoListApp.Models.DTOs;
@model PagedModel<TaskItemModel>

@{
    ViewData["Title"] = "Assigned tasks";
}

<h1>Assigned Tasks</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Items)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Owner</td>
                <td>@task.Status</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-action="Status" asp-route-id="@task.Id">Change status</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-container">
    <div class="pagination" is-assignedTask-model="" page-model="@Model" page-action="Index"></div>
</div>