@model TodoListUserModel

@{
    ViewData["Title"] = "Shared Users";
    var todoListId = TempData["TodoListId"] as int?;
}

<div class="col-md-3 mt-2">
    <div class="card h-100 shadow">
        <div class="card-body">
            <h6 class="card-title">@Model.UserName</h6>
            <p class="card-text small">Role: @Model.Role</p>
            <div>
                <a class="btn btn-sm btn-outline-primary"
                   asp-controller="ShareUser"
                   asp-action="Edit"
                   asp-route-todoListId="@todoListId"
                   asp-route-userName="@Model.UserName">
                    <i class="fa-solid fa-user-gear"></i>
                </a>
                <a class="btn btn-sm btn-outline-danger"
                   asp-controller="ShareUser"
                   asp-action="Delete"
                   asp-route-todoListId="@todoListId"
                   asp-route-userName="@Model.UserName">
                    <i class="fa-solid fa-user-xmark"></i>
                </a>
            </div>
        </div>
    </div>
</div>
